<div class="row">
    <div class="col-md4 mx-auto">
        <div class="card">
            <img src="producto.jpg" alt="Audifonos" class="card-img-top">
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-dark btn-block">
                    Comprar <i class="fa fa-shopping-cart"></i>
                </button>
            </div>
        </div>
    </div>
</div>